/* Float columns side by side */
.column {
    float: left;
    width: 400px;
    height: 400px;
    padding: 20 0px;
  }


.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    max-height: 400px;
    margin-left: 5%;
    text-align: center;
    padding: 20px;
  }

 .card img{
     width: 200px;
     height: 200px;
     margin-left: auto;
     margin-right: auto;
     border-radius: 50%;
 } 