body {
  font-family: Poppins;
  background-color: rgb(77, 149, 238);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.subtitle {
  color: #F19071;
  text-align: center;
  margin: auto;
  margin-top: 150px;
}

.card-box {
  background-color: white;
  border-left: solid 20px rgb(9, 42, 148);
  width: 793px;
  height: 264px;
  border-radius: 18px;
  box-shadow: 0px 4.5px 14px rgba(0, 0, 0, 0.1);
  margin: auto;
  margin-top: 50px;
  display: grid;
  grid-template-areas:
    "photo info location price"
    "expertise expertise expertise price";
  grid-template-columns: 25% 1fr 1fr 1fr;
  transition: all 0.2s ease-out;
  
  &:hover {
    box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.12);
    transform: translatey(-6px);
    .photo{
      transform: rotate(0.03turn);
    }
  }
  
}


.info {
  grid-area: info;
  margin-top: 44px;
  margin-left: -8px;
}



.patientmenu {
  margin-left: 500px;
}
 
  button {
  background-color: rgb(77, 149, 238);
  color: white;
  border: none;  
  font-size: 14px;
  font-weight: bold;
  border-radius: 25px;
  height: 40px;
  padding-left: 16px;
  padding-right: 16px;
    margin-top: 8px;
    cursor: pointer;
  transition: all 0.3s ease-out;  
    
    &:hover {
    transform: translatey(-2px);
    color: #FECEBF;
    box-shadow: 0px 4px 4px rgba(254, 206, 191, 0.6);    
  } 
  }







